<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a th:href="@{/home}" class="logo"><span class="cifrao">$</span><span class="p">implifica</span><span
                    class="ed">Educação Financeira</span></a>
            <ul class="nav-links">                
                <li class="nav-item"><a th:href="@{/usuario}">Quiz</a></li>
                <li class="nav-item"><a th:href="@{/ranking}">Ranking</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div class="txtInfo">
                <span class="a">$</span>
                <p class="b">Sua relação com o dinheiro</p>
                <p class="c">não precisa ser <span class="spanEntrada1">aterrorizante,</span></p>
                <p class="d">através dos nossos</p>
                <p class="e">ensinamentos, você <span class="spanEntrada3">poderá ter um melhor</span></p>
                <p class="f">relacionamento</p>
                <p class="g">com o seu <span class="spanEntrada3">dinheiro</span></p>
                <p class="h">A Simplifica Educação <span class="spanEntrada4">Finceira vai te ajudar!!</span></p>
            </div>
        </section>
        <section>
            <div class="msg ">
                <p>Conheça alguns dos nossos contéudos</p>
            </div>
            <div class="containerSmart containerPc card">
                <div class="card1">
                    <div class="divCard1">Roi</div>
                    <h4>Fundamentos Básicos de Finanças</h4>
                    <p>Aprenda sobre taxas de juros, influências do mercado, governo, etc.</p>
                </div>
                <div class="card2">
                    <div class="div1Card2"><div class="div2Card2">$</div></div>
                    <h3>Tesouro Direto</h3>
                    <p>Entenda de forma simples um dos investimentos mais seguro do mercado.</p>
                </div>
                <div class="card3">
                    <div class="divCard3">[B]³</div>
                    <h3>Ações</h3>
                    <p>Saiba como funciona o mercado de Ações e como avaliar uma empresa antes de investir.</p>
                </div>
                <div class="card4">
                    <div class="divCard4">&cent</div>
                    <h3>Criptomoeda</h3>
                    <p>Compreenda investimento nem tanto promissor das criptomoedas.</p>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <small>Copyright &copy; Your Website</small>
    </footer>
</body>
</html>