<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/ranking.css}">
    <title>Ranking</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <a th:href="@{/home}" class="logo"><span class="cifrao">$</span><span class="p">implifica</span><span
                    class="ed">Educação Financeira</span></a>
            <ul class="nav-links">
                <li class="nav-item"><a th:href="@{/usuario}">Quiz</a></li>
                <li class="nav-item"><a th:href="@{/ranking}">Ranking</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="containerSmart container">
            <div class="ranking">
                <h1>Maiores Pontuadores</h1>

                <table class="table">
                    <tr>
                        <th>Usuário</th>
                        <th>Pontuação</th>
                    </tr>
                    <tr th:each="r : ${ranking}">
                        <td th:text="${r.nome}">massa teste</td>
                        <td th:text="${r.totalCorretas}">massa teste</td>
                    </tr>
                </table>
            </div>
        </div>
        <footer class="footer">
            <small>Copyright &copy; Your Website</small>
        </footer>
    </main>
</body>

</html>